  :global(.container) {
    align-items: center;
    height: 100%;
    background-color: #fff7ff;
    position: relative;
    text-align: center;
    width: 100%;
    align-content: center;
    padding: auto 0;
    .second{
        margin: auto;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100vw;

        .message {
          background-color: #d1c4e9;
      }
    }
}